Titanic Challenge Description

    Main idea is use Titanic passenger data to train, fit model and predict whether each passenger survived or not.
    Titanic passenger data :
    | PassengerId | #Survived | #Pclass | Name | Sex | # Age | SibSp | Parch | Ticket | Fare |

    In previous columns, Survived (yes : 1, not : 0) is predicted LABEL

Here, column descriptions are into :
https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/19095846306138/45566022600459/8071950455163429/latest.html#:~:text=aboard%20the%20Titanic-,parch,fare

In [16]:
# Required libraries
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [17]:
# First, load train dataset
train_data = pd.read_csv("resources/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
# First, load test dataset
test_data = pd.read_csv("resources/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Exploratory Data Analysis

Exist initial hypothesis from Kaggle that all female passengers survived, so is possible
calculate corresponding %.

In [19]:
# female - male %
male_percent = train_data[train_data["Sex"] == "male"]["Survived"].value_counts(normalize=True)
female_percent = train_data[train_data["Sex"] == "female"]["Survived"].value_counts(normalize=True)

print("female passengers survived are :", female_percent.loc[1])
print("male passengers survived are :", male_percent.loc[1])

# Initial hypothesis is no true, so 25 % of female passengers have died, although is good estimation.
# From male passengers is much worse, so only 19% have survived.

female passengers survived are : 0.7420382165605095
male passengers survived are : 0.18890814558058924

So, estimate if passenger live/dead only from sex is not the best solution, so
only takes into account one column, so is necessary create estimation from multiple columns, so
in this case is complex analyze ny ourselves, so is useful create machine learning model
that can learn from training data common patterns.

Here, i have used to start, random forest model, that's several decision trees that predict individually
and final result is done from democratic decision.

In [20]:
# Random forest model
features = ["Pclass", "Sex", "SibSp", "Parch"]
X_train = pd.get_dummies(train_data[features])
y_train = train_data["Survived"]
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [21]:
# Now, create .csv file with | PassengerId" | Survived | for test dataset including
# y_pred to upload into platform and evaluate accuracy.

output_df = pd.DataFrame({"PassengerId" : test_data.PassengerId, "Survived" : y_pred})
output_df.to_csv("submission.csv", index=False)

My Score using RandomForestClassifier from Titanic challenge tutorial is at moment  0.77511.